<html>
 

<body>

<h1> You are logged in as {{data}}</h1>
<p><a href="{{ url_for("logout") }}">Log out</a></p>
<h2> find a street and make your comment or evaluations!</h2>
<p><a href="{{ url_for("street") }}">street test</a></p>
<h1>other search functions!</h1>

<p><a href="/searchzip">Go to the zipcode search page</a></p>
<p><a href="/searchcol">Go to the collision search page</a></p>
<p><a href="/searchveh">Go to the vehicle search page</a></p>
<p><a href="/searchdist">Go to the distribution search page</a></p>

</body>


</html>
