<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Some frequently asked questions:</h1>

  <p>1. To obtain the collision quantity each vehicle type contributing to</p>
  <p>2. To obtain the collision quantity each factor contributing to</p>
  <p>3. To obtain the quantity of report each collision has</p>
  <p>4. To obtain the quantity of collision occurring at each street</p>
  <p>5. To obtain the quantity of comment each street has</p>
  <p>6. To obtain the average score of each street</p>


<form method="POST" action="/resultdist">

<p>Please input the index of the option you want to choose (for example, input 6 to obtain the average score of each street):
    <input type="text" name="group_by_item">
    <input type="submit" value="Search"></p>

</form>

<p><a href="/search">Go to the search page</a></p>
<p><a href="/">Go to the home page</a></p>

</body>


</html>
