<html>
 <head> <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>

 </head>
<body class="w3-light-grey">

  <div class="w3-content">
  <header>
    <style type="text/css"> 
<!-- 
A { text-decoration: none} 
--> 
</style></header>
  <h1>Some time example</h1>

  <p>10:00</p>
  <p>09:43</p>
  <p>00:00</p>

<form method="POST" action="/resultcol">

<p>Input the time you want to search: <input type="text" name="c_time"> <input type="submit" value="Search">
to find the collision information occurred at that time. </p>
</form>

<p><a href="/search">Go to the search page</a></p>
<p><a href="/">Go to the home page</a></p>
</div>
</body>


</html>
