<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Some time example</h1>

  <p>10:00</p>
  <p>09:43</p>
  <p>00:00</p>

<form method="POST" action="/resultcol">

<p>Input the time you want to search: <input type="text" name="c_time"> <input type="submit" value="Search">
to find the collision information occurred at that time. </p>
</form>

<p><a href="/search">Go to the search page</a></p>
<p><a href="/">Go to the home page</a></p>

</body>


</html>
